* {
    box-sizing: border-box;
}
body {
    font-family: 'Luxurious Roman', cursive;
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top right, #027373, #038C7F, #ADD9D1, #D95252);
}
nav.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d8d5d5;
}
nav.top-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    text-align: center;
    /* border: 2px dashed yellow; */
}
nav.top-nav li {
    margin: 0;
    padding: 0;
    flex-basis: 10%;
    /* border: 2px solid blue; */
}
nav.top-nav a {
    display: block;
    margin: 0;
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold; 
    color: #551A8B;
    /* border: 2px dotted black; */
}
nav.top-nav a:hover {
    background-color: #D95252;
    color: white;
}

/* ---------------------------------------------------*/

section.sec-1 {
    padding: 0;
    margin: 10rem auto;
    width: 60%;
    padding-left: 7rem;
    border-left: 1px solid black;
  }
section.sec-1 h1 {
    font-size: 2rem;
    padding: 0.5rem;
    background-color: #D95252;
}
section.sec-1 p {
    font-size: 1.5rem;
    padding: 0.5rem;
}
section.sec-1 ul {
    font-size: 1.5rem;
}
#besides-p {
    margin-top: -1rem;
}
section.sec-1 ol {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}
section.sec-2 {
    width: 90%;
    padding: 0;
    margin: 10rem auto;
    /* border: 1px solid blue; */
}
p{
    font-size: 3rem;
}
ol span {
    color: rgb(163, 10, 163);
    font-weight: bold;
}

/* ---------------------------------------------------*/

h1.between {
    margin: 0;
    background-color: #222;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    width: 100%;
    padding: 3rem;
    /* border: 1px solid red; */
}


.city {
    /* border: solid; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    background-image: url("/images/tel-aviv.jpg");
}


div.city iframe {
    padding: 0;
    margin: 1rem 0.7rem 2rem 1rem;
    /* border: 4px solid orange; */
}

.msg {
    text-align: center;
    margin: 2rem 0 0.2rem 0;
    height: 57.33px;
    /* border: solid pink; */
}
.msg #birth-city {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #6e35a3;
    /* border: solid blue; */
}

button a{
    display: inline-block;
    font-size: 2rem;
    padding: 2rem 3rem;
    font-weight: bold;
    -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    /* border: solid; */
    text-decoration: none;
}

button a:link {
    color: rgb(146, 46, 46);
    background-color: white;
}
button a:visited {
    color: rgb(146, 46, 46);
    background-color: white;
}
button a:hover {
    background-color: rgb(146, 46, 46);
    color: white;
}
div.city button {
    padding: 0;
    border: none;
}

div.containerPre {
    opacity: 0;
}
div.containerNxt {
    opacity: 1;
}
footer{
    font-size: 1.2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    color: black;
    background-color: rgb(185, 179, 179);
    /* border: 4px solid red; */
}
footer div.company {
    margin-left: 5rem;
}
footer div.sentence {
    margin-left: 20%;
}
footer ul {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    flex-basis: 30%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* border: solid black; */
}
footer li {
    flex-basis: 40%;
    /* border: solid orange; */
}
footer a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    color: #551A8B;
}
footer a:hover {
    background-color: #D95252;
    color: white;
}