* {
    box-sizing: border-box;
}
body {
    font-family: 'Luxurious Roman', cursive;
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top right, #027373, #038C7F, #ADD9D1, #D95252);
}
nav.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d8d5d5;
}
nav.top-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    text-align: center;
    /* border: 2px dashed yellow; */
}
nav.top-nav li {
    margin: 0;
    padding: 0;
    flex-basis: 10%;
    /* border: 2px solid blue; */
}
nav.top-nav a {
    display: block;
    margin: 0;
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold; 
    color: #551A8B;
    /* border: 2px dotted black; */
}
nav.top-nav a:hover {
    background-color: #D95252;
    color: white;
}
.profile-image {
    border-radius: 50%;
    margin: 0 2.5rem 1rem 2.5rem;
    height: 200px;
    width: 200px;
}
div.accounts ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
div.accounts li {
    margin: 0;
    padding: 0;
}
div.accounts a {
    margin: 0;
    padding: 0 2rem;
    text-decoration: none;
    font-size: 3rem;
    /* border: solid yellow; */
}
h1 {
    margin: 2rem 0 0 0;
    font-size: 2.5rem;
    color: white;
}
h2 {
    margin: 1rem 0 0 0;
    padding-bottom: 0;
    font-size: 1.6rem;
}
/* animation example */
@keyframes example {
    0%   {background-image: linear-gradient(#ADD9D1, #D95252); left:0px; top:0px;}
    25%  {background-image: linear-gradient(#277063, #26508f); left:80px; top:0px;}
    50%  {background-image: linear-gradient(#1b124e, #72138a); left:80px; top:80px;}
    75%  {background-image: linear-gradient(#c21c40, #cf8320); left:0px; top:80px;}
    100% {background-image: linear-gradient(#2dc010, #11c598); left:0px; top:0px;}
}
.card {
    align-items: center;
    margin: 6rem 34.5% 0.5rem 34.5%;
    padding: 1.5rem 3rem;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    background-image: linear-gradient(#ADD9D1, #D95252);
}  
.card:hover {
    position: relative;
    animation: example 5s linear 1s 3 alternate;
    animation-fill-mode: forwards;
  
    align-items: center;
    margin: 6rem 34.5% 0.5rem 34.5%;
    padding: 1.5rem 3rem;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    background-image: linear-gradient(#ADD9D1, #D95252);
    /* border: 0px solid pink; */
}

footer{
    font-size: 1.2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    color: black;
    background-color: rgb(185, 179, 179);
    /* border: 4px solid red; */
}
footer div.company {
    margin-left: 5rem;
}
footer div.sentence {
    margin-left: 20%;
}
footer ul {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    flex-basis: 30%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* border: solid black; */
}
footer li {
    flex-basis: 40%;
    /* border: solid orange; */
}
footer a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    color: #551A8B;
}
footer a:hover {
    background-color: #D95252;
    color: white;
}